APP_NAME=Elo.me API
APP_ENV=development
DEBUG=true
DATABASE_URL=sqlite:///./elome.db
SECRET_KEY=change-me
ACCESS_TOKEN_EXPIRE_MINUTES=60
BACKEND_CORS_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
PORT=8000
ELO_CONSENT_REGISTRY_ADDRESS=0x5eD86192F0521f35C8b93BD1D774Aa32ADA0E444
ELO_CHAIN_ID=421614
ELO_CHAIN_NAME=arbitrumSepolia
ELO_BLOCK_EXPLORER_URL=https://sepolia.arbiscan.io/address/0x5eD86192F0521f35C8b93BD1D774Aa32ADA0E444
